.app {
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 1em 2em;
  background-color: limegreen;
  color: black;
  border: none;
  border-radius: 0.5em;
  margin: 0.2em;
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: lime;
}

button:disabled {
  cursor: default;
  background-color: lightgray;
}

.button-container {
  margin-top: 2em;
  display: flex;
}

.product-list {
  list-style: none;
  padding: 0;
  align-self: center;
  width: 300px;
  display: flex;
  flex-direction: column;
}


.product {
  margin: 1em;
  background-color: lightgray;
  text-align: center;
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.product.selected {
  background-color: cornflowerblue;
  color: white;
  transform: scale(1.1);
}